<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>my portfolio</title>
    
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">


        <!---------------------navigation bar-------------------------------->

        <div class="nav">
            <div class="logo">
                <img src="logo_main.jpg" alt="">

            </div>
            <div class="links">
                <a href="#">about</a>
                <a href="#">skills</a>


            </div>
        </div>

        <!--------------------------details-------------------------------------->

        <div class="details">

            <div class="details-text">
                <h1>RISHI MODI</h1>
                <h3>programmer <br> Web dev <br> graphic designer <br> musician</h3>
                <div class="btn">
                    <a href="about.html">about</a><br>
                </div>
            </div>



            <div class="image">
                <img src="self.jpg" alt="">
            </div>

        </div>

        <!--------------------------------description------------------------------->

        <div class="description">
            <div class="paragraph">
                <p>
                    hello, RISHI here.currently i am pursuing BTECH(CE) at charusat university.i am from
                    santrampur,gujarat,india.
                    i am interested in data-structure and algrithms,web-developement,graphic-designing,database systems,
                    machine learning,data sciene,physics.</p>
                <p>
                    here you can explore more about me..
                </p>
            </div>
        </div>
        <!-------------------------------cards--------------------------------->

        <div class="infoSection">
            <div class="infoCards">
                <div class="card one">
                    <img src="about.jpg" class="cardoneImg" alt="">

                    <div class="cardContent">
                        

                        <a href="#">
                            <div class="cardBtn">
                                about
                            </div>

                        </a>
                    </div>
                </div>
                <div class="card two">
                    <img src="skills.jpg" class="cardtwoImg" alt="">

                    <div class="cardContent">
                        
                        <a href="#">
                            <div class="cardBtn">
                                skills
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card three" data-aos="fade-up" data-aos-duration="1600">
                    <img src="hobbies.jpg" class="cardthreeImg" alt="">

                    <div class="cardContent">
                        
                        <a href="#">
                            <div class="cardBtn">
                                hobbies
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      
      
        <!----------------------------------footer---------------------------------------->
           
        <div class="footer">
             
           <h2> stay in ,stay safe</h2> 
        
        </div>
    </div>




</body>

</html>